main{
    /* padding-inline: 5rem; */
    height: 100vh;
}
#light{
    background-color: hsl(0, 0%, 100%);
}

#dark{
    background-color: hsl(230, 17%, 14%);
}
 #dark header{
    color: #fff;
 }
 #dark section{
    background-color: hsl(228, 28%, 20%);
    color: #fff;
 }
 #dark .hr{
    background-color: hsl(228, 12%, 44%);
}
@media (min-width:768px) {
    main{
        padding-inline: 5rem;
    }
}